@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  @include flex;
  flex-direction: column;
  margin-top: 50px;
}

.container {
  max-width: 85%;
  h3 {
    margin-bottom: 1rem;
  }
}

.about_us {
  margin-top: 3rem;
  h3 {
    margin-top: -0.5rem;
  }
}
