@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  @include flex;
  flex-direction: column;
  margin-top: 50px;
}

.container {
  width: min(90%, 80rem);
  padding-block: 2rem;

  h3 {
    margin-bottom: 1rem;
  }
}
