@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  @include flex;
  flex-direction: column;
  margin-top: 50px;
  background: linear-gradient(90deg, #f81e06, #ef086a);
  color: white;
}

.container {
  @include flex;
  flex-direction: column;
  padding-block: 4rem;
  width: min(90%, 80rem);
  h3 {
    font-size: 1.3rem;
    color: #c0bdbd;
  }

  h1 {
    font-size: 1.7rem;
    margin-top: 10px;
    text-transform: capitalize;
    text-align: center;
  }
}
