@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 400px;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 4rem 0;
  margin-top: 1rem;
  color: #000;
  box-shadow: 3px 7px 20px 5px rgb(0, 0, 0, 0.32);
}

.title {
  color: #ef086a;
  text-align: center;
  font-size: 1.4rem;
}

.form_group {
  @include flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2.5rem;
  label {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
  }
  input,
  textarea {
    color: white;
    background: #000;
    width: 100%;
    padding: 0.6rem 0;
    border: none;
    border-bottom: 2px white solid;
    margin-top: 1rem;
    transition: all 0.3s;
    &:hover {
      border-color: red;
    }
    &:focus {
      outline: none;
      border-bottom: 2px red solid;
    }
  }
}

.submit_group {
  margin-top: 2.5rem;
  position: relative;
  @include flex;
  input {
    width: 100%;
    color: #fff;
    background: red;
    border: 0;
    border-radius: 20px;
    padding: 0.7rem 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #07c407;
    }
  }
  .icon {
    color: white;
    position: absolute;
    margin-left: 4rem;
  }
}
