@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 1rem 0;
}

.container {
  @include flex;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
}

@media (min-width: 900px) {
  .icon {
    display: none;
  }
}
