@import 'General.module.scss';

.projects {
  @include flex;
  flex-direction: column;
  width: 100%;
  background: #191919;
  padding: 100px 0;
}

.wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  position: relative;
  max-width: 350px;
  min-width: 350px;
  height: 400px;
  margin-top: 30px;
  overflow: hidden;
  &:hover {
    .details {
      transform: translateY(0);
    }
  }
}

.details {
  background: linear-gradient(45deg, rgb(242,17,67), rgb(25,25,25));
  height: 100%;
  width: 100%;
  @include flex;
  flex-direction: column;
  padding: 20px;
  transform: translateY(100%);
  transition: all 0.3s;
  position: relative;
}

.name,
.description,
.icon {
  text-align: center;
}

.name {
  font-size: 1.2em;
  color: #ff5278;
}

.description {
  margin-top: 20px;
  color: white;
}

.icon {
  background: #fff;
  color: #000;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin-top: 10px;
  transition: all 0.3s ;
  &:hover {
    background: #000;
    color: #fff;
  }
}

@media(min-width: 688px) {
  .project {
    margin: 5px;
  }
}