@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  @include flex;
  padding: 4rem 0;
  flex-direction: column;
  margin-top: 50px;
  background: #191919;
}

.container {
  @include flex;
  flex-direction: column;
  max-width: 95%;
}

.service {
  @include flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(90deg, #f81e06, #ef086a);
  background-repeat: no-repeat;
  max-width: 30rem;
  min-height: 20rem;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
  .icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h3,
  p {
    margin-bottom: 1rem;
  }
}

@media (min-width: 688px) {
  .container {
    // flex-direction: row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service {
    max-width: 30rem;
    height: 20rem;
  }
}
