@import 'General.module.scss';

.testimonials {
  width: 100%;
  @include flex;
  flex-direction: column;
  padding: 100px 0;
}

.container {
  width: min(90%, 80rem);
  @include flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  @include flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.testimony {
  @include flex;
  flex-direction: column;
  max-width: 400px;
  height: 200px;
  @include box;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
}

.icon {
  position: absolute;
  left: -5px;
  top: -5px;
  color: #f21143;
  font-size: 2.5em;
  opacity: .7;
  transform: rotate(-35deg);
}

.comment {
  margin-top: 25px;
  color: #4d4d4d;
}

.name_container {
  margin-top: 20px;
  width: 100%;
  border-left: 3px red solid;
  padding-left: 15px;
}

.name {
  color: #f21143;
  font-size: 1em;
}

@media(min-width: 688px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}